[Unit]
Description=Audiobookshelf Container
After=network-online.target media.network audiobookshelf.volume audiobookshelf-metadata.volume var-mnt-media.mount
Wants=network-online.target media.network audiobookshelf.volume audiobookshelf-metadata.volume var-mnt-media.mount
StartLimitBurst=3

[Container]
ContainerName=audiobookshelf
HostName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:latest

PublishPort=13378:80

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=audiobookshelf.volume:/config:Z
Volume=audiobookshelf-metadata.volume:/metadata:Z
Volume=/var/mnt/media/books/audiobooks:/audiobooks:z
Volume=/var/mnt/media/podcasts:/podcasts:z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=mkdir -p /var/mnt/media/books/audiobooks /var/mnt/media/podcasts
ExecStartPre=sudo /usr/local/bin/firewall-services add audiobookshelf-container "Audiobookshelf is a self-hosted, open-source server for managing and streaming your personal audiobook and podcast collections." 13378/tcp,13378/udp

[Install]
WantedBy=default.target