[Unit]
Description=Jellyseerr Container
After=network-online.target media.network jellyseerr.volume jellyfin.service
Wants=network-online.target media.network jellyseerr.volume jellyfin.service
StartLimitBurst=3

[Container]
ContainerName=jellyseerr
HostName=jellyseerr
Image=docker.io/fallenbagel/jellyseerr:latest

PublishPort=7060:5055

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=jellyseerr.volume:/app/config:Z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=sudo /usr/local/bin/firewall-services add jellyseerr-container "Jellyseerr is a free, open-source, self-hosted application for managing requests for a media library, designed to work with Jellyfin, Plex, and Emby media servers." 7060/tcp

[Install]
WantedBy=default.target