[Unit]
Description=Jellyfin Container
After=network-online.target media.network jellyfin.volume var-mnt-media.mount
Wants=network-online.target media.network jellyfin.volume var-mnt-media.mount
StartLimitBurst=3

[Container]
ContainerName=jellyfin
HostName=jellyfin
Image=lscr.io/linuxserver/jellyfin:latest

PublishPort=7030:8096

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=jellyfin.volume:/config:Z
Volume=/var/mnt/media:/data/media:z

AddDevice=/dev/dri

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=7030/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 7030 to firewall rules'"

[Install]
WantedBy=default.target