[Unit]
Description=Jellyseerr Container
After=network-online.target media.network jellyseerr.volume
Wants=network-online.target media.network jellyseerr.volume

[Container]
ContainerName=jellyseerr
Image=docker.io/fallenbagel/jellyseerr:latest

PublishPort=5055:5055

Network=media.network

EnvironmentFile=~/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=jellyseerr.volume:/app/config:Z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=5055/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to update firewall rules'"

[Install]
WantedBy=multi-user.target default.target