[Unit]
Description=Jellyfin Container
After=network-online.target media.network jellyfin.volume var-mnt-media.mount
Wants=network-online.target media.network jellyfin.volume var-mnt-media.mount
StartLimitBurst=3

[Container]
ContainerName=jellyfin
HostName=jellyfin
Image=lscr.io/linuxserver/jellyfin:latest

PublishPort=8096:8096

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=jellyfin.volume:/config:Z
Volume=/var/mnt/media:/data/media:z

AddDevice=/dev/dri

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=sudo /usr/local/bin/firewall-services add jellyfin-container "Jellyfin is a free, open-source media server system that allows you to collect, manage, and stream your personal media." 8096/tcp,8096/udp

[Install]
WantedBy=default.target