[Unit]
Description=Prowlarr Container
After=network-online.target media.network prowlarr.volume
Wants=network-online.target media.network prowlarr.volume
StartLimitBurst=3

[Container]
ContainerName=prowlarr
Image=lscr.io/linuxserver/prowlarr:latest

PublishPort=9696:9696

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=Africa/Johannesburg

Volume=prowlarr.volume:/config:Z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=9696/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 9696 to firewall rules'"

[Install]
WantedBy=default.target