[Unit]
Description=Prowlarr Container
After=network-online.target media.network prowlarr.volume
Wants=network-online.target media.network prowlarr.volume
StartLimitBurst=3

[Container]
ContainerName=prowlarr
HostName=prowlarr
Image=lscr.io/linuxserver/prowlarr:latest

PublishPort=9696:9696

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=Africa/Johannesburg

Volume=prowlarr.volume:/config:Z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=sudo /usr/local/bin/firewall-services add prowlarr "Prowlarr is an open-source indexer manager and proxy that centralizes and simplifies the management of torrent trackers and Usenet indexers" 9696/tcp

[Install]
WantedBy=default.target