[Unit]
Description=qBittorrent Container
After=network-online.target media.network qbittorrent.volume var-mnt-media.mount
Wants=network-online.target media.network qbittorrent.volume var-mnt-media.mount
StartLimitBurst=3

[Container]
ContainerName=qbittorrent
HostName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest

PublishPort=9112:9112
PublishPort=6881:6881

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env
Environment=WEBUI_PORT=9112

AutoUpdate=registry

Timezone=${TZ}

Volume=qbittorrent.volume:/config:Z
Volume=/var/mnt/media/downloads:/downloads:z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=mkdir -p /var/mnt/media/downloads /var/mnt/media/downloads/incomplete /var/mnt/media/downloads/complete
ExecStartPre=sudo /usr/local/bin/firewall-services add qbittorrent-container "qBittorrent is a free, open-source, and cross-platform BitTorrent client that allows users to download files using the BitTorrent protocol" 9112/tcp,6881/tcp,6881/udp

[Install]
WantedBy=default.target
