[Unit]
Description=Radarr Container
After=network-online.target media.network radarr.volume var-mnt-media.mount
Wants=network-online.target media.network radarr.volume var-mnt-media.mount
StartLimitBurst=3

[Container]
ContainerName=radarr
HostName=radarr
Image=lscr.io/linuxserver/radarr:latest

PublishPort=7878:7878

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=radarr.volume:/config:Z
Volume=/var/mnt/media/movies:/var/mnt/media/movies:z
Volume=/var/mnt/media/downloads:/var/mnt/media/downloads:z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=mkdir -p /var/mnt/media/downloads /var/mnt/media/movies
ExecStartPre=sudo /usr/local/bin/firewall-services add radarr-container "Radarr is a free, open-source media management tool for automatically searching, downloading, organizing, and renaming movies from Usenet and BitTorrent sources." 7878/tcp

[Install]
WantedBy=default.target