[Unit]
Description=Sonarr Container
After=network-online.target media.network sonarr.volume var-mnt-media.mount
Wants=network-online.target media.network sonarr.volume var-mnt-media.mount
StartLimitBurst=3

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest

PublishPort=7070:8989

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=sonarr.volume:/config:Z
Volume=/var/mnt/media/anime:/var/mnt/media/anime:z
Volume=/var/mnt/media/series:/var/mnt/media/series:z
Volume=/var/mnt/media/downloads:/var/mnt/media/downloads:z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=mkdir -p /var/mnt/media/anime /var/mnt/media/downloads /var/mnt/media/series
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=7070/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 7070 to firewall rules'"

[Install]
WantedBy=default.target