[Unit]
Description=Sonarr Container
After=network-online.target media.network sonarr.volume
Wants=network-online.target media.network sonarr.volume

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest

PublishPort=8989:8989

Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=sonarr.volume:/config:Z
Volume=/mnt/media/anime:/mnt/media/anime:z
Volume=/mnt/media/series:/mnt/media/series:z
Volume=/mnt/media/downloads:/mnt/media/downloads:z

SecurityLabelDisable=true

[Service]
Restart=on-failure
ExecStartPre=mkdir -p /mnt/media/anime /mnt/media/downloads /mnt/media/series
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=8989/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 8989 to firewall rules'"

[Install]
WantedBy=multi-user.target default.target