[Unit]
Description=Sonarr Container
After=network-online.target media.network sonarr.volume
Wants=network-online.target media.network sonarr.volume

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest

PublishPort=8989:8989

Network=media.network

EnvironmentFile=%h/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=sonarr.volume:/config:Z
Volume=/mnt/media:/mnt/media:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target