[Unit]
Description=NGINX Proxy Manager Container
After=network-online.target infrastructure.network automation.network development.network media.network nginx-proxy-manager.volume nginx-proxy-manager-certs.volume
Wants=network-online.target infrastructure.network automation.network development.network media.network nginx-proxy-manager.volume nginx-proxy-manager-certs.volume

[Container]
ContainerName=nginx-proxy-manager
Image=docker.io/jc21/nginx-proxy-manager:2.9.22

PublishPort=8080:80
PublishPort=8081:81
PublishPort=8443:443

Network=infrastructure.network
Network=automation.network
Network=development.network
Network=media.network

EnvironmentFile=/var/home/badger/containers/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=nginx-proxy-manager.volume:/data:Z
Volume=nginx-proxy-manager-certs.volume:/etc/letsencrypt:z

SecurityLabelDisable=true
Replace=true

[Service]
Restart=on-failure
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=8080/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 8080 to firewall rules'"
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=8081/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 8081 to firewall rules'"
ExecStartPre=/bin/sh -c "sudo firewall-cmd --permanent --add-port=8443/tcp && sudo firewall-cmd --reload || echo 'Warning: Failed to add port 8443 to firewall rules'"

[Install]
WantedBy=default.target