[Unit]
Description=NGINX Proxy Manager Container
After=network-online.target infrastructure.network automation.network development.network media.network nginx-proxy-manager.volume nginx-proxy-manager-certs.volume
Wants=network-online.target infrastructure.network automation.network development.network media.network nginx-proxy-manager.volume nginx-proxy-manager-certs.volume

[Container]
ContainerName=nginx-proxy-manager
Image=docker.io/jc21/nginx-proxy-manager:2.9.22

PublishPort=8080:80
PublishPort=8081:81
PublishPort=8443:443

Network=infrastructure.network
Network=automation.network
Network=development.network
Network=media.network

EnvironmentFile=/var/container/config/default.env

AutoUpdate=registry

Timezone=${TZ}

Volume=nginx-proxy-manager.volume:/data:Z
Volume=nginx-proxy-manager-certs.volume:/etc/letsencrypt:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target