[Unit]
Description=Quadlet Webhook Auto-Update Service
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=quadlet-webhook
Image=docker.io/library/golang:latest

PublishPort=9010:8080

Network=infrastructure.network

Secret=container-github-webhook-secret
Environment=GITHUB_WEBHOOK_SECRET=/run/secrets/container-github-webhook-secret

Volume=/usr/local/app/quadlet-webhook:/app:z

Exec=go run /app/main.go

Notify=healthy
HealthCmd=curl -f http://0.0.0.0:8080/health || exit 1
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=10s
HealthTimeout=5s

[Service]
Restart=always

[Install]
WantedBy=default.target