[Unit]
Description=Samba
After=network-online.target infrastructure.network
Wants=network-online.target infrastructure.network
StartLimitBurst=3

[Container]
ContainerName=samba
Image=docker.io/dperson/samba:latest

PublishPort=139:139
PublishPort=445:445

Network=infrastructure.network

EnvironmentFile=/var/home/badger/containers/config/default.env

Secret=samba_password,type=env,target=SAMBA_PASSWORD
# Running this with wrapped exec shell so that the environment expansion works.
Exec=/bin/sh -c '/usr/bin/samba.sh -u "badger;$SAMBA_PASSWORD" -s "media;/media;yes;no;no;all;none" -p'

AutoUpdate=registry

Timezone=${TZ}

Volume=/var/mnt/media:/media:Z

SecurityLabelDisable=true

# Run as root inside container (required)
User=0:0

[Service]
Restart=on-failure
TimeoutStopSec=30
ExecStartPre=sudo /usr/local/bin/firewall-services add samba-container "Samba allows for Windows and other clients to connect to file share directories on Linux hosts" 139/tcp,445/tcp

[Install]
WantedBy=default.target